.content-skils-wrapper{
    display: flex;
    padding: 70px 50px;
    width: 100%;
    

}
.content-skils{
    width: 40%;
    padding: 40px 100px;
}
.content-text{
    width: 60%;
    font-size: 20px;
}
.skillbar{
    text-transform: uppercase;
    font-size: 25px;
}
.git{
    font-size: 20px;
    color: blue;
}

/* Container for skill bars */
.container-skills { /* Full width */
  background-color: rgba(221, 217, 217, 0.4); /* Grey background */
  
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 50%; background-color: #f44336;} /* Red */
.python {width: 80%; background-color: #808080;}
.django {width: 80%;background-color:orange;}

@media screen and ( max-width:550px){
    .content-skils-wrapper{
        flex-direction: column;
        padding: 100px 10px;
    }
    .content-text{
        width: 100%;
    }
    .content-skils{
        width: 80%;
        padding:40px;
    }
}